[package]
name = "procedural_grass"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { version = "0.11.3", features = ["dynamic_linking"] }
bevy_flycam = "0.11.0"
bevy-inspector-egui = "0.19.0"
bytemuck = "1.14.0"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[dependencies.image]
version = "0.24.7"
features = ["png", "jpeg"]